<div class="footer-container" [class.expanded]="expanded">
    <div class="footer-header" (click)="toggleMenu()">
        <h2>SchoolEvents</h2>
        <ion-icon name="school-outline" class="school-icon"></ion-icon>
    </div>

    <div class="footer-content">
        <ion-icon
                name="notifications-circle-outline"
                (click)="navigateWithAnimation('/messages', $event)"
        ></ion-icon>

        <ion-icon
                name="calendar-outline"
                class="active"
                (click)="navigateWithAnimation('/calendar', $event)"
        ></ion-icon>

        <ion-icon
                name="settings-outline"
                (click)="navigateWithAnimation('/settings', $event)"
        ></ion-icon>
    </div>
</div>
