<div class="container">
    <div class="header">
        <h1><span class="black">School</span><span class="green">Events</span></h1>
    </div>
    <form>
        <h1><span>Inicia</span> Sesión</h1>
        <input placeholder="Correo" type="text"/>
        <input placeholder="Contraseña" type="password"/>
        <button class="btn">Log in</button>
    </form>
</div>

<footer class="footer-container">
    <p>
        Respetamos y protegemos su información personal. Los datos se usan solo para mejorar su experiencia.
        Al usar la app, acepta nuestra <a href='login' style='color:#1E90FF; text-decoration:none;'>Política de Privacidad</a> y
        <a href='login' style='color:#1E90FF; text-decoration:none;'>Términos y Condiciones</a>.
        Más info en nuestra sección <strong>SchoolEvents</strong>.
    </p>
</footer>
