<ion-content class="home-content">

    <div class="header">
        <h1><span class="black">School</span><span class="green">Events</span></h1>
    </div>

    <div class="image-section">
        <img src="assets/school-kids.jpg" alt="Niños en el pasillo escolar" />
        <ion-icon name="football-outline" class="icon-ball"></ion-icon>
        <ion-icon name="tennisball-outline" class="icon-ball tennis"></ion-icon>
    </div>

    <div class="description">
        <p>
            Damos la bienvenida a la nueva app para la gestión de eventos escolares.
            Diseñada para la gestión de inscripciones, noticias y red de los eventos iniciados en el centro.
        </p>
    </div>

    <div class="button-group">
        <ion-button expand="block" color="primary" routerLink="/login">Login</ion-button>
        <ion-button expand="block" color="success" routerLink="/register">Register</ion-button>
    </div>

</ion-content>
